<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets" 
        xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.ericdecoff.phonegap3.vranimals"
		version = "3.5.0"
		versionCode = "350">

    <name>VR Animals</name>

    <description>
 	   Villa Rica Animal Hospital	
    </description>

    <author href="http://vranimals.com" email="ericdecoff@gmail.com">Eric DeCoff</author>
        
    <!-- ICONS -->
        
    <icon src="appicon.png" /> <!-- default 512 pixels -->
    
    <!-- iOS6 --->
    <icon src="img/icons/ios/icon57.png" gap:platform="ios" width="57" height="57" />
    <icon src="img/icons/ios/icon72.png" gap:platform="ios" width="72" height="72" />
    <icon src="img/icons/ios/icon114.png" gap:platform="ios" width="114" height="114" />
    <icon src="img/icons/ios/icon144.png" gap:platform="ios" width="144" height="144" />    
    <!-- iOS7 -->
    <icon src="img/icons/ios/icon76.png" gap:platform="ios" width="76" height="76" />
    <icon src="img/icons/ios/icon120.png" gap:platform="ios" width="120" height="120" />
    <icon src="img/icons/ios/icon152.png" gap:platform="ios" width="152" height="152" />
        
    <icon src="platform/android/res/drawable-ldpi/appicon.png" gap:platform="android" gap:density="ldpi" />
    <icon src="platform/android/res/drawable-mdpi/appicon.png" gap:platform="android" gap:density="mdpi" /> 
    <icon src="platform/android/res/drawable-hdpi/appicon.png" gap:platform="android" gap:density="hdpi" />
    <icon src="platform/android/res/drawable-xhdpi/appicon.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="platform/android/res/drawable-xxhdpi/appicon.png" gap:platform="android" gap:density="xxhdpi" /> 
    <icon src="platform/android/res/drawable-xxxhdpi/appicon.png" gap:platform="android" gap:density="xxxhdpi" />
        
    <icon src="img/icons/winphone/icon.png" gap:platform="winphone" />
    <icon src="img/icons/winphone/tileicon.png" gap:platform="winphone" gap:role="background" />
        
    <!-- SPLASH SCREENS -->
        
    <gap:splash src="splash.png" />
    
    <!-- non retina -->
    <gap:splash src="img/splash/ios/splash320x480.png" gap:platform="ios" width="320" height="480" />
    <!-- retina 4 -->
    <gap:splash src="img/splash/ios/splash640x960.png" gap:platform="ios" width="640" height="960" />
    <!-- retina 5+ -->
    <gap:splash src="img/splash/ios/splash640x1136.png" gap:platform="ios" width="640" height="1136" />
        
    <!-- iPad non retina -->    
    <gap:splash src="img/splash/ios/splash1024x768.png" gap:platform="ios" width="1024" height="768" />
    <gap:splash src="img/splash/ios/splash768x1024.png" gap:platform="ios" width="768" height="1024" />
    <!-- iPad Retina -->
    <gap:splash src="img/splash/ios/splash2048x1496.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="img/splash/ios/splash1536x2008.png" gap:platform="ios" width="1536" height="2008" />
        
    <!-- android splash -->    
    <!-- 200x320 -->        
    <gap:splash src="Resources/android/images/res-long-port-ldpi/default.png" gap:platform="android" gap:density="ldpi" /> 
    <!-- 320x480 -->    
    <gap:splash src="Resources/android/images/res-long-port-mdpi/default.png" gap:platform="android" gap:density="mdpi" />
    <!-- 480x800 -->        
    <gap:splash src="Resources/android/images/res-long-port-hdpi/default.png" gap:platform="android" gap:density="hdpi" />
    <!-- 720x1280 -->        
    <gap:splash src="Resources/android/images/res-long-port-xhdpi/default.png" gap:platform="android" gap:density="xhdpi" />  
        
    <!-- Windows Phone 7 480x800 -->
    <gap:splash src="img/splash/winphone/splash.jpg" gap:platform="winphone" /> 

    <!-- PLATFORM SELECTION -->

    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="winphone" />
        
    <!-- GENERAL PREFERENCES -->
        
    <preference name="phonegap-version" value="3.5.0" />
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" /> <!-- remove the upper bar on iOS and Android -->
        
    <!-- iOS PREFERENCES -->
    
    <preference name="target-device" value="universal" />
    <preference name="prerendered-icon" value="true" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="false" />

    <preference name="webviewbounce" value="false" />
    <preference name="stay-in-webview" value="false" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" /> <!-- if set to false, the splash screen must be hidden using a JavaScript API -->
        
    <!-- ANDROID PREFERENCES -->
        
    <preference name="android-minSdkVersion" value="7" /> <!-- minimum Android 2.1 -->
    <!-- <preference name="android-maxSdkVersion" value="19" /> maximum Android 4.4 -->
    <preference name="android-targetSdkVersion" value="19" /> <!-- targeting Android 4.4 -->
    <preference name="android-installLocation" value="auto" />
    <preference name="android-windowSoftInputMode" value="stateHidden|adjustResize" />
    <preference name="SplashScreenDelay" value="5000" />

    <preference name="load-url-timeout" value="20000" />
        
    <!-- PHONEGAP API FEATURES PREFERENCES -->
        
    <preference name="permissions" value="none"/>
    <!--
    <feature name="http://api.phonegap.com/1.0/battery"/>
    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/contacts"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    -->

    <access origin="*" />

</widget>
